body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #031927;
  margin: 0;
}
.cover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  color: #fff;
  font-family: 'Crimson Text', serif;
  letter-spacing: 0.2em;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.reverse {
  font-size: 2rem;
}
.coming {
  font-size: 1rem;
}
