doctype html
html
  head
    //- title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet" href="/css/style.css")

    block meta
      title Reverse Project &mdash; Official Website
      meta(name="description" content="Reverse Project &mdash; Official Website")

      meta(name="twitter:card" value="summary")

      meta(property="og:title" content="Reverse Project &mdash; Official Website")
      meta(property="og:type" content="website")
      meta(property="og:url" content="http://reverse-project.com/")
      meta(property="og:image" content="http://reverse-project.com/img/share.jpg")
      meta(property="og:description" content="Reverse Project &mdash; Official Website")

  body.jarallax
    .content
      canvas

      include ../_partials/header
        
      .content-opacity
        block content

    include ../_partials/footer

    script(type="text/javascript" src="/js/pageAccelerator.js")
    script(type="text/javascript" src="/js/icaro.js")
    script(type="text/javascript" src="/js/pace.js")
    script(type="text/javascript" src="/js/tilt.js")
    script(type="text/javascript" src="/js/parallax.js")
    script(type="text/javascript" src="/js/canvas.js")
    script(type="text/javascript" src="/js/script.js")
