extends ../_layouts/home

block content
	style.
		.wrapper {
			position: relative;
		}
		img.desolate {
			width: 640px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: .9;
			z-index: -1;
		}
		.context {
			max-width: 640px;
			margin: 0 auto;
			position: relative;
			top: 40px;
			left: 120px;
			padding: 0 40px 20px 40px;
			background: #131a22;
			opacity: .95;
			text-align: left;
		}

		.header {
			position: fixed;
		}

		.pre {
			white-space: pre;
		}
	.wrapper
		img.desolate(src='/img/stories/desolate.jpg')
		.context
			h2
				br
				| Desolate

			p Myria is trapped in void (negative dimension). In this dimension, time is freeze. In the darkness, in the silence, she will travel eternity.

			h4 Lyric
			p.pre.
				Million years have passed away
				私は一人
				暗闇の中で
				沈黙の中で
				永遠のときを私はゆこう

				世界はへんかし
				君はまだ少し変わっていいない
				あいのない私とあなたない世界
				苦しい
				苦しい

				i always love you
				i always love you
				i’ll love you forever till the end of time
				抱きしめたい
				ここで私は待ってるよいつまでも
				未来を私と君に会いたい

				のみ見ることが
				君はまだ少し変わっていいない
				物語の始まりの場所で
				そのとき、再び、会えるだろう。yeah

				i always love you
				i always love you
				i’ll love you forever till the end of time
				抱きしめたい
				ここで私は待ってるよいつまでも
				未来を私と。。。

				i always love you
				i always love you
				ほら 見って また、ここにいる
				助けてお願い
				ここで私は待ってるよいつまでも
				未来を私と君に会いたい

				i always love you
				i always love you
				i’ll love you forever till the end of time
				抱きしめたい
				ここで私は待ってるよいつまでも
				未来を私と。。。

				i always love you
				i always love you
				ほら 見って また、ここにいる
				助けてお願い
				ここで私は待ってるよいつまでも

				ここにいるよ、助けてお願い
				抱きしめたい、君に会いたい