extends _layouts/home

block content
  include _partials/header
  div.wrapper
    .w50
      h2
        | 約
        br
        | About
      p リバースプロジェクトは、音楽で伝えられたオリジナルのストーリーを作成することに重点を置いたプロジェクトです。 最初は、曲が伝える話は、プロットやキャラクターを介して関連していないように見えるかもしれませんが、あなたが学ぶほど、逆プロジェクトのすべてがつながっていることが分かります。
      p Reverse Project is a project that focused on creating Original stories that told by music. While at first, the stories that the songs tell might not seem to be related through the plot or the characters, the more you learn, the more you will realize that everything in Reverse Project is connected.

    .w50
      h2
        | メンバー
        br
        | Member
      h3
        | 音楽プロデューサー
        br
        | Music Producer
      .member Era


      h3
        | ボーカリスト
        br
        | Vocalists
      .member Aika
      .member Giita


      h3
        | イラストレーター
        br
        | Illustrator
      .member Deronoitz

    .clear

