extends _layouts/home

block content

	.wrapper
		//- a(href="/stories.html")
		.cover.tilt(
			data-tilt
			data-tilt-max="12"
			data-tilt-perspective="5000"
			data-tilt-speed="1000"
			data-tilt-glare
			data-tilt-max-glare="0.1"
		)
			img(src="/img/cover-no-cloning-960.jpg")
		.btn-list
			button Coming soon
			
		//- form(name="contact" action="message" netlify)
		//- 	p
		//- 		label Your Name :
		//- 			input(type="text" name="name")
		//- 	p
		//- 		label Your Email :
		//- 			input(type="email" name="email")
		//- 	p
		//- 		label Message :
		//- 			textarea(name="message")
		//- 	p
		//- 		button(type="submit") Send