extends _layouts/home

block content
  .wrapper
    h2
      br
      | Stories / Song List

    #scene
      div
        h4 Prelude
        .wrapper720
          p Suddenly moon, sun, planet, galaxy and all other celestial object are begin to moving closer and closer as time goes by. Universe’s expansion eventually reverses, blueshift happens. But humanity must survive, so humanity make some plan.

          p Servent trying to make Superintelligence AI named SHV-A. But things don’t go well. Just after the creation, SHV-A goes berserk destroying everything. Servent can’t control it, adding another crisis for humanity. it’s just getting worse.

          p The story begin at the city of Shelter-02, it's humanity last hope for fighting SHV-A and surviving blueshift
    div
      h4 Song List
      a(href="/stories/no-cloning-theorem.html")
        .card
          .story
            //- img(src="/img/no-cloning-theorem.jpg", alt="No-cloning Theorem")
            h3 No-cloning Theorem
            //- p In science, the no-cloning theorem states that it is impossible to make an identical copy of an unknown quantum state arbitrarily. Including cloning a child.
            h4 Music: Era, Vocal: Aika

      a(href="/stories/desolate.html")
        .card
          .story
            //- img(src="/img/no-cloning-theorem.jpg", alt="Desolate")
            h3 Desolate
            //- p Myria is trapped in void (negative dimension). In this dimension, time is freeze. In the darkness, in the silence, she will travel eternity
            h4 Music: Era, Vocal: Giita