extends _layouts/home

block content

  .wrapper
    h2
      | Stories / Song List
    div
      a(href="/stories/no-cloning-theorem.html")
        .story
          h4 No-cloning Theorem
          p In science, the no-cloning theorem states that it is not possible to make an identical copy of an unknown quantum state arbitrarily.

      a(href="/stories/desolate.html")
        .story
          h4 Desolate
          p Myria is trapped in void (negative dimension). In this dimension, time is freeze. In the darkness, in the silence, she will travel eternity