header
  .logo
    span
      | REVERSE PROJECT
      br
      small リバースプロジェクト
    img(src="/img/logo-reverse-light.png" alt="Reverse Project Logo")

  nav
    a(href="/index.html")
      span
        | 自宅
        br
        | Home
    a(href="/about.html")
      span
        | 約
        br
        | About
    span
      | ストーリー
      br
      | Stories
    span
      | キャラクター
      br
      | Characters