/*	FONTS
------------------------*/

@import url('//fonts.googleapis.com/css?family=Montserrat|Ubuntu+Mono');

/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #EEEEEE;
  font-size: 100%;
  line-height: 1.5;
  background-color: #131A22;
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}


/* ------ Normalize ----- */

*,
*:after,
*:before {
  box-sizing: border-box;
}

// WRAPPER

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: .2em;
  background: rgba(#eee, .005);
  color: #eee;
  cursor: pointer;
  padding: 10px 20px;
  border: solid 1px rgba(#eee, .2);

  &:hover {
    background: rgba(#eee, .01);
  }

}

.clear {
  clear: both;
}

.content {
  min-height: calc(100vh - 30px);
  // padding: 20px;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
}

footer{
  height: 30px;
  // margin-top: -30px;
  font-size: .9em;
  opacity: .3;
  font-family: 'Ubuntu Mono', monospace;
}